# COLLECTIONS (LSTD)- Some more codes

In [2]:
fruits= ['apple', 'orange', 'banana', 'papaya']

In [3]:
fruits [0]

'apple'

In [5]:
fruits[1:3]  #o/p is orange and banana coz it goes to n-1

['orange', 'banana']

In [7]:
fruits[:] #to access all

['apple', 'orange', 'banana', 'papaya']

In [9]:
fruits[:-1] #to access the last one OR just write [-1]

['apple', 'orange', 'banana']

In [11]:
fruits[-3]

'orange'

In [13]:
len(fruits) #no of elements in a set

4

In [14]:
seasonal_fruits = ['grapes','mango','cherry']

In [15]:
seasonal_fruits

['grapes', 'mango', 'cherry']

In [16]:
all_fruits= fruits + seasonal_fruits

In [17]:
all_fruits

['apple', 'orange', 'banana', 'papaya', 'grapes', 'mango', 'cherry']

In [19]:
'banana' in all_fruits  #to check if banana is in all fruits or not

True

In [20]:
'watermelon' in all_fruits

False

In [21]:
all_fruits.index('banana')

2

In [24]:
all_fruits.inderx('watermelon')

AttributeError: 'list' object has no attribute 'inderx'

In [25]:
all_fruits.append('watermelon')

In [26]:
all_fruits

['apple',
 'orange',
 'banana',
 'papaya',
 'grapes',
 'mango',
 'cherry',
 'watermelon']

In [27]:
#Some numerical operations

In [28]:
a= [1,1,2,4,5,6,7]

In [29]:
a

[1, 1, 2, 4, 5, 6, 7]

In [30]:
min(a)

1

In [31]:
max(a)

7

In [32]:
a.count(1)

2

In [33]:
a.count(3)

0

In [42]:
a.insert(7,9) #first number is the index and 2nd is the number inserted (INDEX,NUMBER INSERTED)

In [43]:
a

[1, 1, 2, 8, 8, 4, 5, 9, 6, 9, 7, 9]

In [44]:
a.insert(3,8)

In [45]:
a

[1, 1, 2, 8, 8, 8, 4, 5, 9, 6, 9, 7, 9]

In [52]:
a.reverse()

In [53]:
a

[9, 7, 9, 6, 9, 5, 4, 8, 8, 8, 2, 1, 1]

In [56]:
a.sort() #ascending by default to get in descending order use reverse

In [57]:
a

[1, 1, 2, 4, 5, 6, 7, 8, 8, 8, 9, 9, 9]

In [58]:
all_fruits.sort()

In [60]:
all_fruits

['apple',
 'banana',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'papaya',
 'watermelon']

# TUPLE

In [61]:
tup1 = (1,3,'orange')

In [62]:
tup1

(1, 3, 'orange')

In [64]:
tup1(1)='a' #error coz tuple is immutable

SyntaxError: can't assign to function call (<ipython-input-64-d83e2368c795>, line 1)

In [65]:
tup2= tuple(a)

In [66]:
tup2

(1, 1, 2, 4, 5, 6, 7, 8, 8, 8, 9, 9, 9)

In [69]:
# it is showing the values coz 'a' has already been created above:: we used the set and called the above one(list)

In [70]:
#SET- ordered list of non repeating elements

In [71]:
b= set([6,1,1,2,4,5])

In [72]:
b

{1, 2, 4, 5, 6}

In [75]:
b.add(3) #adding the value in set

In [76]:
b

{1, 2, 3, 4, 5, 6}

In [77]:
c= set([2,4,6,7])

In [78]:
c

{2, 4, 6, 7}

In [80]:
c.union(b) #union of 2 sets

{1, 2, 3, 4, 5, 6, 7}

In [81]:
b.intersection(c)

{2, 4, 6}

In [82]:
c.difference(b)

{7}

In [83]:
b.difference(c) #whatever is in 'b' and not in 'c' is shown

{1, 3, 5}

In [87]:
b.remove(4)

In [88]:
b

{1, 3, 5, 6}

In [89]:
q=set([1,3,5,7,9])

In [90]:
q

{1, 3, 5, 7, 9}

In [91]:
q.remove(3)

In [92]:
q

{1, 5, 7, 9}

In [95]:
q.clear() #to empty the contents of the set

In [96]:
q

set()

In [ ]:
#To enter a new line go to lhs command side and press 'a'

In [98]:
a #we're checking the contents of a

[1, 1, 2, 4, 5, 6, 7, 8, 8, 8, 9, 9, 9]

In [100]:
  #Iteration
for i in a:
        print (i*2)

2
2
4
8
10
12
14
16
16
16
18
18
18

In [101]:
#no of iterations is fixed in for loop BUT not fixed in while loop, it'll keep on going depending on the condition

In [102]:
b

{1, 3, 5, 6}

In [103]:
for i in b:
    print(i+2)

3
5
7
8

In [110]:
#Dictionary {KEY:VALUE}

In [111]:
d1= dict({'one':1,'two':2})

In [112]:
d1

{'one': 1, 'two': 2}

In [115]:
#Join 2 list and create a dictionary
names = ['one','two','three','four','five']
numbers = [1,2,3,4,5]

In [121]:
d2 = dict(zip(names,numbers))

In [123]:
print(d2)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}

In [125]:
d2.keys() #To get just the keys

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [126]:
d2.values() #To get Values only

dict_values([1, 2, 3, 4, 5])

In [129]:
d2['six'] = 6 #Adding a value (appending)

In [130]:
d2

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6}

In [132]:
d2.pop('six') #Remove an element from the dictionary

6

In [133]:
d2

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}